# SPDX-License-Identifier: LGPL-2.1-or-later
#
# This file is part of systemd-init.
#
# systemd is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation; either version 2.1 of the License, or
# (at your option) any later version.
#
# systemd-init — Service that proxies TCP connections to the Unix socket

[Unit]
Description=init Service
Documentation=man:systemd-socket-proxyd(8)
Requires=init.socket
After=init.socket

[Service]
Type=simple
ExecStart=/usr/lib/systemd/systemd-socket-proxyd /run/systemd/systemd.init.sock
StandardOutput=inherit
StandardError=journal

[Install]
WantedBy=multi-user.target